<div id="ilAll">
<div class="ilStartupFrame">
  <div id="il_startup_logo">
    <%= image_tag("logo.png", width: "730px", alt: "Logo") %>
  </div>
  <div id="il_startup_content">
    <!-- Antwort "Erfolgreich" -->
    <div class="ilStartupSection">
      <p align="left"></p>
      <table width="90%" border="0px" cellspacing="10px" cellpadding="5px" style="margin-left: 10px; margin-right: 10px;">
        <tbody>
          <tr valign="top">
            <td width="100px" style="margin-left: 0px;"><br>
              <%= image_tag('geschafft.png', width: '80', height: '80') %>
            </td>
            <td>
              <h1>Erfolgreich!</h1>
              <p>Der Test war erfolgreich. Mit den gerade verwendeten Anmeldedaten können Sie sich bei elektronischen Prüfungen auf unserer Klausurenplattform anmelden.</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>               
  </div>
</div>    
</div>
